* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: DancingScript;
  src: url(../assets/font/DancingScript-Regular.ttf);
}
@font-face {
  font-family: Signika;
  src: url(../assets/font/Signika-Medium.ttf);
}
h1,
h2,
h3 {
  font-family: DancingScript, sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

header {
  width: 100%;
  padding: 10px 10px;
}
header nav,
header p {
  font-family: Signika;
}
header .navbar {
  flex-grow: inherit;
}
header .navbar .navbar-toggler:focus {
  box-shadow: none;
}
header .navbar a {
  color: #e48494;
}
header .navbar .collapse li a {
  color: #e48494;
}
header .navbar .navbar-toggler {
  border: 1px solid #e48494;
}

footer {
  background-color: #e1d6d1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
footer .redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
footer p {
  text-align: center;
}

form {
  max-width: 1400px;
  padding: 40px;
}
form label {
  font-family: Signika;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
form .enviar {
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #fbb1bd;
}

body {
  background: linear-gradient(90deg, #e9ccce, #fff);
  color: #333;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #fbb1bd;
}
button:hover {
  background-color: #f58698;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 40vh;
}

.quienes-somos .container {
  text-align: center;
  padding: 200px 12px;
}
.quienes-somos .container img {
  padding: 10px;
  margin: 15px;
}

.algunos-articulos {
  text-align: center;
  padding: 20px;
}
.algunos-articulos .container {
  padding: 80px 5px;
}
.algunos-articulos h2 {
  margin-top: 0;
}
.algunos-articulos h3 {
  color: white;
  margin-top: 0;
}
.algunos-articulos p {
  color: white;
}
.algunos-articulos .card {
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 40px;
  margin: 20px;
  border-radius: 15px;
}
.algunos-articulos .card:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/box-dinosaurio.png);
}
.algunos-articulos .card:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/box-sirena.png);
}
.algunos-articulos .card:last-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/box-unicornio.png);
}

.catalogo h2 {
  text-align: center;
}

.nuestros-productos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

article {
  width: 300px;
  background-color: #e48494;
  border-radius: 20px;
  margin: 20px 20px;
}
article img {
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0 0;
}
article .card-body {
  padding: 10px;
}
article h3,
article p {
  padding: 10px;
}

.personalizacion {
  max-width: 1400px;
  margin: 20px auto;
  padding: 20px;
}

@media (min-width: 768px) {
  .quienes-somos .container {
    display: flex;
    justify-content: center;
  }
  .quienes-somos .text {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .quienes-somos .img-container {
    background-image: url(../assets/img/portada.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 600px;
  }
  .algunos-articulos .articulos {
    display: flex;
    justify-content: center;
  }
  .algunos-articulos .articulos h3 {
    margin-top: 0;
  }
  .algunos-articulos .articulos p {
    margin-bottom: 30px;
  }
  .algunos-articulos .articulos .card {
    padding: 50px;
  }
  .nuestros-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .personalizacion {
    padding: 10px;
  }
  .personalizacion h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .personalizacion h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .personalizacion p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
