@font-face {
    font-family: DancingScript;
    src: url(../assets/font/DancingScript-Regular.ttf);
  }
  
  @font-face {
    font-family: Signika;
    src: url(../assets/font/Signika-Medium.ttf);
  }
  h1,
h2,
h3 {
  font-family: DancingScript, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  padding: 20px;
}

h2 {
  font-size: 2.7em;
  padding: 20px;
}

h3 {
  font-size: 2em;
}

p {
  font-family: Signika, sans-serif;
  font-size: 1.25em;
}